.AbsPos {
  position: absolute;
}

div#tooltip {
  position: absolute;        
  display: inline-block;
  padding: 1px;
  font-family: 'Open Sans' sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
    pointer-events: none;
  opacity: 0;
  z-index: 1;
}
